<!--The content below is only a placeholder and can be replaced.-->
<div [class]="getBackgroundStyle()">
  <div>
    <p [class]="getTitleStyle()">
      Is Mochi in the Office Today?</p>
    <p [class]="getHeaderStyle()">
      {{statusText()}}
    </p>
  </div>
  <div style="display: flex; justify-content: center; width: 100%">
    <img src="../assets/images/mochi.jpg" style="height: 450px;"/>
  </div>
  <a href="https://instagram.com/mochithepei_"
  target="_blank"
  style="text-align: center;
    font-size: 25px;
    margin-top: 10px;">
    Check him out on Instagram
  </a>
</div>

