.main {

  background-color: white;
  display: flex;
  flex-flow: column;
  height: 100%;

  &.in {
    background-color: black;
  }

  .title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;

    &.in {
      color: white;
    }
  }

  .header {
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: red;
    font-weight: bold;
    margin-bottom: 20px;

    &.in {
      color: lime;
    }

    &.out {
      color: red;
    }
  }

  .next-in {

    text-align: center;
    .header {

      font-size: 20px;
      color: blue;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
